:root {
  --text-color: #111;
}

html {
  font-family: sans-serif;
  color: var(--text-color);
}

li {
  list-style: none;
}

label {
  font-size: 0.5rem;
}

.page-container {
  display: flex;
  align-items: stretch;
}

.page-left {
  flex: 1 1 0;
  background-color: lightblue;
  width: 20vw;
  height: 100vh;

  /* centers the image */
  display: flex;
  justify-content: center;
}

.page-right {
  flex: 2 1 0;
  height: 100vh;
  background-color: #efefef;

  margin: 0;
  padding: 2rem;
}

.image-credit {
  position: absolute;
  top: 50%;
  left: 50%;
}

.blue-stairs {
  height: 100%;
}

.form-create-account {
  background-color: #fdfdfd;
}
